<div class="page-body-wrapper">
  {{>header }}
  <form class="row g-3 needs-validation" style="width:1000px;" method="POST" action="/collectors/create" novalidate>
    {{>add-collector-form}}
  </form>
</div>

